body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  /* background-image: url(./images/pg1.jpg); */
  /* text-align: center; */
}

#addPgBtn{
  border-radius: 18px 18px 18px 18px;
  color: darkblue;
  font-size: large;
  background-color: rgb(2, 253, 241);
  margin: 5px;
  padding: 5px;
  float: right;
}
#addPgBtn:hover {
  /* box-shadow: 0 10px 20px 0 rgba(251, 113, 113, 0.6); */
  background-color: rgb(152, 253, 248);
}

.grid-container {
  display: grid;
}

.imageSpin1 {
position: static;
top: 50%;
left: 50%;
width: 190px;
height: 190px;
margin: 10px 0 0 10px;
-webkit-animation:spin 1s linear infinite;
-moz-animation:spin 1s linear infinite;
animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(-360deg); } }

.imageSpin1:hover{
animation:spin .3s linear infinite;
}

.imageSpin1:active {
animation:spin .1s linear infinite;
}

#log-button{
background-color: orangered;
}

#log-button:hover {
background-color: rgb(247, 119, 73);
}

body{
margin: 7px;
/* color: orange; */
background-image: url(pg1.jpg);
/* background-repeat: no-repeat; */
background-size: 100%;
/* auto? */
text-align: center;
font-family: 'Verdana', serif;
}
textarea{
  width: 100%;
  margin: .5px 0;
  padding: .5px 0;
}
#biggie{
  font-size: 36px;
  margin: 3px;
  color: rgba(0, 6, 58, 0.657);
  font-style: bold;
  /* text-shadow: 2px 2px 5px red; */
  /* text-shadow: 0 0 9px rgb(0, 16, 233); */
  text-shadow: 0 0 9px rgb(255, 67, 67), 0 0 5px rgb(128, 255, 105);
  /* text-shadow: 0 0 19px #FF0000, 0 0 5px #0000FF; */
}

/* .container{
  background-image: url(pg1.jpg);
  background-size: cover;
} */

.card {
  box-shadow: 0 9px 10px 0 rgba(0,0,0,0.7);
  transition: 0.14s;
  width: 31%;
  height: 510px;
  border-radius: 10px;
  /* background-color: rgb(161, 197, 219); */
  
               /* background-color: rgb(116, 199, 250); */
  /* background: rgb(238,174,202); */
  background: linear-gradient(90deg, rgb(240, 190, 133) 0%, rgba(148,187,233,1) 100%);

  margin: 15px;
  text-align: center;
  /* opacity: 75%; */
  /* background-image: url(logo.png); */
  margin-left: 20px;
  margin-right: 10px;
  /* float: unset; */
  margin-bottom: 10px;
}

.card:hover {
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
  /* background: rgb(203, 248, 229); */
  background: linear-gradient(90deg, rgba(148,187,233) 0%, rgb(203, 248, 229,1) 100%);
  opacity: 99%;
}

.container {
  padding: 2px 16px;
}

.alert {
  background-color: #ff4545;
  margin: 50px;
}

form {
  background-color: lightskyblue;
  width: 30%;
  height: 250px;
  margin: 20px auto;
  padding: 25px;
  border-radius: 2px;
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

.log-in, .log-out, .register {
background-color: #00acb0;
border-radius: 4px;
color: #f8f8f8;
min-height: 50px;
min-width: 100px;
outline:0;
cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
  background:none;
  color:inherit;
  border:none;
  padding:0;
  font: inherit;
  outline:0;
  border-bottom:1px solid #444; 
  cursor: pointer;
}


/* .gradient-button {
margin: 10px;
font-family: "Arial Black", Gadget, sans-serif;
font-size: 20px;
padding: 15px;
text-align: center;
text-transform: uppercase;
transition: 0.5s;
background-size: 200% auto;
color: #FFF;
box-shadow: 0 0 20px #eee;
border-radius: 10px;
width: 200px;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
transition: all 0.3s cubic-bezier(.25,.8,.25,1);
cursor: pointer;
display: inline-block;
border-radius: 25px;
} */
/* .gradient-button:hover{
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
margin: 8px 10px 12px;
} */
/* .gradient-button-1 {background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97 51%, #DD5E89 100%)}
.gradient-button-1:hover { background-position: right center; } */

/* linear-gradient(to right, #DD5E89 0%, #F7BB97 51%, #DD5E89 100%) */

#textareaDesc{
text-align: center;
max-width: 450px;
margin: 5px;
background-color: rgb(182, 226, 253);
}

#editPageImage{
margin-left: auto;
margin-right: auto;
margin-top: 50px;
}

#description {
font-size: 13px;
padding: 4px;
margin: 15px;
float: unset;
}
  
#addie{
font-size: 26px;
text-align: center;
margin: 5px;
padding: 5px;
color: orange;
text-shadow: 0 0 7px rgb(0, 0, 0);
}

#pg_list_overflow{
  overflow: auto;
  height: 830px;
}
  
  #pg_name{
    color: orangered;
    font-weight: 700;
    font-size: larger;
}
  
  .selector{
  float: left;
  margin: 5px;
  background-color: aquamarine;
  border-radius: 18px 18px 18px 18px;
  font-size: medium;
}
#delete{
  /* float: left; */
  /* border-radius: 20px 20px 20px 20px; */
  background-color: darkred;
  /* font-size: 11px; */
  padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  #delete:hover {background-color: rgb(174, 58, 58);}
#delete:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
#edit{
    /* float: right; */
    /* border-radius: 18px 18px 18px 18px; */
    background-color: darkorange;
    padding: 10px 20px;
      font-size: 18px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
    }
#edit:hover {background-color: rgb(252, 173, 76);}
#edit:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
  }
#favorite{
      /* border-radius: 18px 18px 18px 18px; */
      /* background-color: rgb(92, 255, 92); */
      /* height: 40px; */
      padding: 10px 20px;
        font-size: 18px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #fff;
        background-color: #4CAF50;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
}
#favorite:hover {background-color: #3e8e41;}
#favorite:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
}

/* #favorite:hover{
background-color: rgb(172, 255, 161);
} */

#oblique{
  font-style: oblique;
  font-size: 15px;
  color: darkgreen;
  font-display: bold;
  }
  
.pgName {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 10px;
    /* font-size: 22px;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 200px; */
  }
.item2{
    width: 70%;
    max-height: 140px;
    margin-left: 210px;
    margin-top: -230px;
    font-size: medium;
}
  
.pgPic {
    margin-top: -30px;
}
  
.item4 {
    margin-left: 10px;
    margin-top: 110px;
    /* margin-bottom: 2px; */
    float: left;
    /* margin-left: 40px;
    margin-top: 100px;
    margin-bottom: 2px; */
  }

#item{
    opacity: 100%;
    background-color: green;
    /* text-align: left; */
    /* width: 230px; */
    margin: 10px;
    text-align: center;
}
    
    
.container {
      padding: 2px 16px;
}

/* <div style="height:1000px;background-color:blue;font-size:30px"> */

/* .parallax { */
                   /* The image used */
/* background-image: url(pg1.jpg); */

                    /* Set a specific height */
/* min-height: 500px;  */

                    /* Create the parallax scrolling effect */
/* background-attachment: fixed; */
/* background-position: center; */
/* background-repeat: no-repeat; */
/* background-size: cover; */
/* } */

