footer {
    margin-top: 300px;
    color: orangered;
    text-align: left;
    font-size: x-small;
    /* opacity: 92%; */
    /* float: bottom; */
}

.log-in{
    float: right;
}

button:hover {
    background-color: rgb(251, 125, 79);
  }