body {
    margin: 10px;
}
.grid-container {
    display: grid;
}

#description {
  font-size: 10px;
}

#addie{
  font-size: 26px;
  margin: 5px;
  padding: 5px;
  color: orange;
  text-shadow: 0 0 7px rgb(0, 0, 0);
}

#addPgBtn{
  border-radius: 18px 18px 18px 18px;
  background-color: rgb(2, 253, 241);
  margin: 5px;
  padding: 5px;
  float: right;
}
#addPgBtn:hover {
  /* box-shadow: 0 10px 20px 0 rgba(251, 113, 113, 0.6); */
  background-color: rgb(152, 253, 248);
}

textarea{
  width: 100%;
  margin: .5px 0;
  padding: .5px 0;
}

#biggie{
  font-size: 36px;
  margin: 3px;
  color: rgba(0, 6, 58, 0.657);
  font-style: bold;
  /* text-shadow: 2px 2px 5px red; */
  /* text-shadow: 0 0 9px rgb(0, 16, 233); */
  text-shadow: 0 0 9px rgb(255, 67, 67), 0 0 5px rgb(128, 255, 105);
  /* text-shadow: 0 0 19px #FF0000, 0 0 5px #0000FF; */
}

#delete{
  float: left;
  border-radius: 20px 20px 20px 20px;
  background-color: darkred;
  font-size: 11px;
}

#edit{
  float: right;
  border-radius: 18px 18px 18px 18px;
  background-color: darkgoldenrod;
}

#favorite{
  border-radius: 18px 18px 18px 18px;
  background-color: greenyellow;
}

#oblique{
  font-style: oblique;
  font-size: 14px;
}

.pgName {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 10px;
    /* font-size: 22px;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 200px; */
}

.item2{
    width: 70%;
    max-height: 140px;
    margin-left: 210px;
    margin-top: -230px;
    font-size: medium;
}

.pgPic {
    margin-top: -30px;
}

.item4 {
    margin-left: 10px;
    margin-top: 110px;
    /* margin-bottom: 2px; */
    float: left;
    /* margin-left: 40px;
    margin-top: 100px;
    margin-bottom: 2px; */
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.6);
    transition: 0.3s;
    width: 250px;
    border-radius: 5px;
    background-color: rgb(161, 197, 219);
    margin: 10px;
    float: left;
  }

#item{
  opacity: 100%;
  background-color: green;
  /* text-align: left; */
  /* width: 230px; */
  margin: 10px;
  text-align: center;
}
  .card:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.6);
    background-color: rgb(107, 194, 157);
  }

  .container {
    padding: 2px 16px;
  }

  img {
    border-radius: 4px 4px 4px 4px;
    margin: 4px;
    height: 190px;
    /* opacity: 120%; */
  }