.nav-title {
    /* font-size: 40px; */
    /* overflow: hidden; */
    font-weight: 600;
    display: inline-block;
    color: orangered;
    padding: 2px;
    text-align: center;
    margin-top: 5px;
    /* font-family: 'Bungee Shade';font-size: 42px; */
    /* font-family: @import url('https://fonts.googleapis.com/css?family=Bungee Shade&display-swap'); */
    
    border-radius: 24px 24px 24px 24px;
    font-family: Impact, Charcoal, sans-serif;
    text-shadow: -1px 0 2px darkred,  0 2px 2px darkred, 3px 3px 2px darkred, 0 -1px 2px darkred;
    font-size: 100px;
  }

/* @import url('https://fonts.googleapis.com/css?family=Bungee Shade&display-swap'); */

.nav {
  overflow: hidden;
  /* background-color: lightskyblue; */
  opacity: 73%;
  /* background: url(logo_small_60.png); */
  background-repeat: no-repeat;
  
}

.imageSpinNav {
  position: static;
  float: left;
  margin-top: 17px;
  margin-left: 170px;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  /* margin: 10px 0 0 -130px; */
  padding: 5px;
  -webkit-animation:spin 4.4s linear infinite;
  -moz-animation:spin 4.4s linear infinite;
  animation:spin 4.4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(-360deg); } }




/* #logo{
  animation: App-logo-spin infinite 0.6s linear;
  height: 45vmin;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
} */

/* img{
  height: 30px;
} */

body{
  background-image: url(logo_small_60.png);
}

/* .logo {
  background-image: url(./App/logo.png);
} */

.nav-link {
  float: left;
  color: orange;
  /* background-color: lightskyblue; */
  text-align: center;
  padding: 15px 10px;
  text-decoration: none;
  font-size: 16px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
  border-radius: 24px 24px 24px 24px;
  text-shadow: -1px 0 1px darkred,  0 1px 1px darkred, 1px 1px 1px darkred, 0 -.5px 1px darkred;
}

.nav-link:hover {
  background-color: #9ce1e2;
}
.nav-title:hover {
  background-color: #9ce1e2;
}

.nav-right {
  float: right;
  
}