/* .container{
    background-image: url(pwRed.jpg);
    background-size: 50%; 
    opacity: 82%;
  } */

body{
    margin: 10px;
    /* color: orange; */
    /* background-image: url(pwRed.jpg); */
    background-size: 100%;
    text-align: center;
    font-family: 'Verdana', serif;
    text-decoration: double;
}

.imageSpin {
  position: static;
  top: 50%;
  left: 50%;
  width: 140px;
  height: 140px;
  margin: 10px 0 0 10px;
  -webkit-animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(-360deg); } }

/* #logo{
  animation: App-logo-spin infinite 0.6s linear;
  height: 45vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
} */

.cardAbout {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.6);
    transition: 0.3s;
    width: 80%;
    border-radius: 10px;
    /* background-color: rgb(161, 197, 219); */
    background-color: rgb(174, 255, 174);
    margin: 8px;
    padding: 5px;
    text-align: center;
    opacity: 90%;
    margin-left: auto;
    margin-right: auto;    
  }

  .cardAbout:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
    background-color: rgb(200, 255, 200);
  }

  .container {
    padding: 2px 16px;
  }